* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Merriweather';
  src: url('/assets/fonts/Merriweather.ttf') format('truetype');
}
body {
  background-color: #394867;
  font-family: 'Merriweather';
  width: 100wh;
  height: 100vh;
  overflow: hidden;
}
/* main section styles */
main {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* image styles */
.image {
  position: relative;
}
img {
  border-radius: 50%;
  max-width: 12em;
}
#img {
  box-shadow: .2rem .3rem 1rem #000;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #F1F6F9;
  border-radius: 50%;
  max-width: 12em;
}
.image:hover .overlay {
  opacity: 1;
}
.link {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#personal-homepage{
  width: 8rem;
}
/* Intro section */
.intro {
  margin-top: 1.125rem;
  text-align: center;
  max-width: 50vw;
}
h1 {
  color: #F1F6F9; 
  text-shadow: .1rem .1rem .3rem #000;
}
h3 {
  color: #FFEAD2;
  text-shadow: .1rem .1rem .3rem #000;
}
/* social media links section */
.links {
  margin-top: 1.125rem;
}
.links a img {
  width: 5rem;
  height: auto;
  border-radius: 0%;
}
.links a img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.links a:not(:last-child) {
  margin-right: 1rem;
}

/* styles for small displays - mobile - portrait*/
@media only screen and (max-width: 600px) and (orientation: portrait){
  main {
    margin-top: 30%;
  }
  img {
    max-width: 10rem;
  }
  h1{
    font-size: 1.825rem;
  }
  h3{
    font-size: 1.25rem;
    text-align: center;
  }
  /* intro section */
  .intro {
    max-width: 85vw;
  }
  /* social media links section */
  .links a img {
    width: 4rem;
  }
  .links a:not(:last-child) {
    margin-right: .25rem;
  }  
}

/* styles for small displays - mobile - landscape*/
@media only screen and (max-width: 896px) and (orientation: landscape){
  main {
    margin-top: 2%;
  }
  img {
    max-width: 8rem;
  }
  h1{
    font-size: 1.425rem;
  }
  h3{
    font-size: .825rem;
    text-align: center;
  }
  /* intro section */
  .intro {
    max-width: 85vw;
  }
  /* social media links section */
  .links a img {
    width: 3rem;
  }
  .links a:not(:last-child) {
    margin-right: .25rem;
  }  
}